@font-face {
	font-family: 'Bureau Grotesque';
	font-style: normal;
	font-weight: 400;
	src: url("/BureauGrotesque-ThreeFive-Regular.otf") format("opentype");
}

:root {
	font-family: 'Bureau Grotesque', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
	--pure-white: #ffffff;
	--primary-color: #a6b3c3;
	--primary-color-contrast: #6d7681;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

* {
	box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

@media (min-width: 1024px) {
    html,
    body {
        scroll-snap-type: y mandatory;
    }
}

body {
	min-height: 100vh;
	margin: 0;
	letter-spacing: 0.5ch;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
	margin-top: 0;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 1024px) {
	h1 {
		font-size: 2.4rem;
	}
}





@media (max-width: 1023px) {
    .fullscreen-scroll__section {
        min-height: 100vh;
    }
}

@media (min-width: 1024px) {
    .fullscreen-scroll {
        /* position: relative; */
        /* height: 100vh; */
        /* overflow: auto; */
    }

    .fullscreen-scroll__section {
        height: auto;
        position: relative;
        width: 100%;
        overflow: hidden; /* For the parallax effect */
        height: calc(100vh - 50px);
        height: 100vh;
        /* max-height: 100vw; */
    }
}





.parallax {
	height: 100%;
}





.layout-split {
	height: 100%;
	width: 100%;
	display: flex;
}

.layout-split .layout-split__item {
}

.layout-split .layout-split__item--small {
    padding: 60px 20px;
    padding: 0;
}

@media (max-width: 1023px) {
    .layout-split {
        flex-direction: column;
    }

    .layout-split .layout-split__item {
        flex: 0 0 100vh;
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    .layout-split .layout-split__item {
        flex: 1 0 50%;
    }

    .layout-split .layout-split__item--small {
        padding: 10%;
    }
}





@media (max-width: 1023px) {
    .scroll-snap--mobile {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
}

@media (min-width: 1024px) {
    .scroll-snap--desktop {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
}